#area{
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 5px;
    background-color: #94c396;
    color: #fdffff;
    margin-top: 20%;
    box-shadow:10px 05px 05px #54635e;
}
#titulo{
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
    font-size: 20px;
}
#campoDecimal{
    width: 100px;
    height: 25px;
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    outline: none;
    border-style: none;
}
#campoDecimal:focus{
    background-color: #e3e4e3;
}
#btoConverte{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-170%,90%);
    background-color: #ccd5ae;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    border:1px solid #54635e;
}
#btoConverte{
    cursor: pointer;
    color: #3e4643;
}
#btoConverte:focus{
    background-color: #b3be8f;
}
#resultado{
    position: absolute;
    left: 30%;
    right: 30%;
    transform: translate(-10%,20%);
    height: 30px;
    background-color: rgb(227, 228, 227);
    text-align:center;
    padding-top: 1%;
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 600ms ease-in-out;
}
.invisivel{
    display: none;
}